
#navbar {
     -fx-pref-height: 90px;
    -fx-background-color: #001a4d;
    -fx-padding: 10px 15px;
    -fx-alignment: center;
     -fx-pref-width: 100%;
}

/* Logo Image Styling */
#logoImage {
    -fx-halignment: left;
}

.search-bar {

-fx-pref-height: 40px;
 -fx-background-radius: 0px 5px 5px 0px;
    -fx-pref-width: 770px;
    -fx-background-color: white;
}

.combo-box {
-fx-translate-y: -0.55px;
-fx-alignment: center;
        -fx-background-radius: 0;
-fx-pref-height: 39px;
    -fx-pref-width: 80px;
    -fx-background-color: #e6e6e6;
}

/* Icons styling */
.icon {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 0);
    -fx-cursor: hand;
}

.icon {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 24px;
    -fx-fill: white;
    -fx-cursor: hand;
    -fx-alignment: center;
}
